body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 220px;
  filter: drop-shadow(0 0 15px red);
}

.header h1 {
  color: #ff0000;
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header span {
  color: white;
}

input,
select {
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #111;
  color: white;
}

button {
  background: #cc0000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ff0000;
}

form {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

h2 {
  color: white;
}

hr {
  border: 1px solid #222;
}

/* TABS */

.tabs {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.tabs button {
  flex: 1;
}

.active-tab {
  background: #ff0000;
  box-shadow: 0 0 15px red;
}

/* TABELA */

.table-wrapper {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #111;
}

th {
  background: #cc0000;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #333;
  text-align: center;
}

tr:nth-child(even) {
  background: #181818;
}

/* TOP 3 */

.gold {
  background: rgba(255, 215, 0, 0.25) !important;
  border-left: 5px solid gold;
}

.silver {
  background: rgba(192, 192, 192, 0.25) !important;
  border-left: 5px solid silver;
}

.bronze {
  background: rgba(205, 127, 50, 0.25) !important;
  border-left: 5px solid #cd7f32;
}

/* MOBILNI TELEFONI */

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .logo {
    width: 140px;
  }

  .header h1 {
    font-size: 24px;
  }

  input,
  select,
  button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  form {
    padding: 15px;
  }

  table {
    min-width: 900px;
    font-size: 12px;
  }

  th,
  td {
    padding: 6px;
  }
}
.mobile-cards {
  display: none;
}

.vozilo-card {
  background: #111;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.vozilo-card h3 {
  margin-top: 0;
  color: #ff0000;
}

@media (max-width: 768px) {
  .mobile-cards {
    display: block;
  }

  .table-wrapper {
    display: none;
  }
}
body {
  background:
    linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)),
    url('/devilscrew.png');
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.counter {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 20px;
}
.category-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category-buttons button {
  flex: 1;
}